In [10]:
import sys
sys.path.append('../..')

In [11]:
import pandas as pd
from pandera import Check, Column, DataFrameSchema
from pytest_steps import test_steps

from training.src.process import get_features, rename_columns

/Users/vu/Downloads/mlops/final_project/training/test/../../training/src/process.py:31: UserWarning:
The version_base parameter is not specified.
Please specify a compatability version level, or None.
Will assume defaults for version 1.1
  @hydra.main(config_path="../../config", config_name="main")

In [12]:
data = pd.DataFrame(
    {
        "Education": ["Bachelors", "Masters"],
        "City": ["Bangalore", "Prune"],
        "PaymentTier": [2, 3],
        "Age": [30, 21],
        "Gender": ["Male", "Female"],
        "EverBenched": ["No", "Yes"],
        "ExperienceInCurrentDomain": [2, 3],
        "LeaveOrNot": [0, 1],
    }
)
data

,Education,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot
0,Bachelors,Bangalore,2,30,Male,No,2,0
1,Masters,Prune,3,21,Female,Yes,3,1

In [13]:
features = [
    "City",
    "PaymentTier",
    "Age",
    "Gender",
    "EverBenched",
    "ExperienceInCurrentDomain",
]

In [14]:
target = "LeaveOrNot"

In [15]:
y, X = get_features(target, features, data)

In [17]:
X

,City[Bangalore],City[Prune],Gender[T.Male],EverBenched[T.Yes],PaymentTier,Age,ExperienceInCurrentDomain
0,1.0,0.0,1.0,0.0,2.0,30.0,2.0
1,0.0,1.0,0.0,1.0,3.0,21.0,3.0

In [18]:
schema = DataFrameSchema(
    {
        "City[Bangalore]": Column(float, Check.isin([0.0, 1.0])),
        "City[Prune]": Column(float, Check.isin([0.0, 1.0])),
        "Gender[T.Male]": Column(float, Check.isin([0.0, 1.0])),
        "EverBenched[T.Yes]": Column(float, Check.isin([0.0, 1.0])),
        "PaymentTier": Column(float, Check.isin([1, 2, 3])),
        "Age": Column(float, Check.greater_than(10)),
        "ExperienceInCurrentDomain": Column(
            float, Check.greater_than_or_equal_to(0)
        ),
    }
)

In [19]:
schema.validate(X)

,City[Bangalore],City[Prune],Gender[T.Male],EverBenched[T.Yes],PaymentTier,Age,ExperienceInCurrentDomain
0,1.0,0.0,1.0,0.0,2.0,30.0,2.0
1,0.0,1.0,0.0,1.0,3.0,21.0,3.0